<article class="post">
  <header class="post-header home">
    <div class="post-title">Welcome</div>
	<p>
<br/>
이 블로그의 목적은 다음과 같습니다.<br/>
복습할 때 자동기술법을 활용해 아는 것을 끄집어내려는 노력만으로 학습에 도움이 된다고 했습니다.*<br/>
또, 사유를 외부화하면 사소한 의사결정 횟수를 줄여 필요한 곳에 에너지를 집중할 수 있습니다.**<br/>
위 방법론들을 적용하기 위해 만든 블로그입니다.
<br/><br/>
* '이케다 요시히로'의 『뇌에 맡기는 공부법』 참고<br/>
** '대니얼 레비틴'의 『정리하는 뇌』 참고
	</p>
  </header>


	   
<br/>
<p1 style="font-weight : bolder">NEW ARTICLES!!</p1>
<div class="post-content">
      {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li class="post-list-item">
        <!-- {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%} -->
        {%- assign date_format = "%Y/%m/%d" -%}
        <span class="post-date">{{ post.date | date: date_format }}</span>
      	<a class="post-link" href="{{ post.url | relative_url }}">
    	    {{ post.title | escape }}
		</a>
        {%- if site.show_excerpts -%}{{ post.excerpt }}{%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
  </div>


 
</article>



</div>
