<article class="post">
  <header class="post-header home">
    <div class="post-title">Welcome</div>
	<p>
<br/>
이 블로그는 나사 빠진 글을 지향합니다.<br/>
복습할 때 자동기술법으로 아는 것을 끄집어내려는 노력만으로 학습에 도움이 된다고 했습니다.*<br/>
이 방법론을 활용하기 위해 만든 블로그입니다.
<br/><br/><br/>
* '이케다 요시히로'의 『뇌에 맡기는 공부법』 참고
	</p>
  </header>

  <div class="post-content">
      {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li class="post-list-item">
        <!-- {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%} -->
        {%- assign date_format = "%Y/%m/%d" -%}
        <span class="post-date">{{ post.date | date: date_format }}</span>
      	<a class="post-link" href="{{ post.url | relative_url }}">
    	    {{ post.title | escape }}
		</a>
        {%- if site.show_excerpts -%}{{ post.excerpt }}{%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
  </div>
</article>



</div>
